*{
    padding: 0;
    margin: 0;
}

#display{
    width: 500px;
    height: 800px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
}

#character{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 600px;
    left: 200px;
}

#block{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    /* left: 400px; */
    animation: runBlock 3s infinite ;
}

@keyframes runBlock{

    0% {
        top:0px;
    }

    100% {
        top: 800px;
    }
}