*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
}

#display{
    width: 500px;
    height: 800px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    box-sizing: border-box;
}

#display > div > img{
    width: 97px;
    height: 100px;
    border-radius: 10px;
}

#character{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 200px;
    top: 493px;
}

#block{
    width: 100px;
    height: 100px;
    /* background-color: black; */
    position: relative;
    animation: runBlock 3s infinite ;
    
}

#block2{
    width: 100px;
    height: 100px;
    /* background-color: red; */
    position: relative;
    left: 400px;
    top: -100px;
    animation: runBlock 6s infinite ;
}

@keyframes runBlock{

    0% {
        top:-100px;
    }

    100% {
        top: 800px;
    }
}

#bottmHide{
    width: 100vw;
    height: 122px;
    background-color: white;
    position: absolute;
    bottom:2px;
}